{% extends '@admin/layout.twig' %}

{% block title "Ajouter un article" %}

{% block body %}

    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                <h1>Ajouter un utilisateur</h1>
                <h4 style="color: red;">Cet utilisateur devra utiliser le formulaire de récupération de mot de passe afin d'en créer un !</h4>
            </div>

            <form action="{{ path(routePrefix ~ '.create') }}" method="post" enctype="multipart/form-data">
                {% include viewPath ~ '/form.twig' %}
                <div class="card-body">
                    <div class="mb-12 text-right">
                        <button class="btn btn-primary" type="submit">Ajouter</button>
                        <button class="btn btn-danger" onclick="window.location='{{ path(routePrefix ~ '.index') }}';return false;">Annuler</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock %}
