<li class="nav-item">
    <a class="nav-link{{ is_subpath('account.admin.index') ? ' active' }}"
       href="{{ path('account.admin.index') }}">
        <i class="icon icon-puzzle"></i> Utilisateurs
    </a>
</li>