<li class="nav-item">
    <a class="nav-link{{ is_subpath('blog.admin.index') ? ' active' }}"
       href="{{ path('blog.admin.index') }}">
        <i class="icon icon-puzzle"></i> Articles
    </a>
</li>
<li class="nav-item">
    <a class="nav-link{{ is_subpath('blog.category.admin.index') ? ' active' }}"
       href="{{ path('blog.category.admin.index') }}">
        <i class="icon icon-puzzle"></i> Catégories
    </a>
</li>